<?xml version="1.0" ?>
<robot name="Simple_Hexapod"  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find simple_hexapod_description)/urdf/simple_hexapod_urdf.xacro" />
  <xacro:include filename="$(find simple_hexapod_description)/urdf/asus_camera.urdf.xacro" />
  
  <link name="base_link"/>

	<xacro:simple_hexapod parent="base_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:simple_hexapod>

	<!--<xacro:camera parent="base_link">
        <origin xyz="0 0 1" rpy="0 0 0" />
    </xacro:camera>-->

	<xacro:asus_camera name="depth_camera" parent="base_link">
    	<origin xyz="0.125 0 0.04" rpy="0 0 0"/>
  	</xacro:asus_camera>

	<gazebo>
    	<plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      	<robotNamespace>/simple_hexapod</robotNamespace>
    	</plugin>
  	</gazebo>

</robot>