<?xml version='1.0'?>
<model>
  <name>simple_hexapod</name>
  <version>0.1.0</version>
  <author>
    <name>Philippe Capdepuy</name>
    <email>pc@humarobotics.com</email>
  </author>
  <sdf>urdf/simple_hexapod.urdf</sdf>
  <description>
    This model approximates the Simple_Hexapod hexapod robot.
  </description>
</model>
